/* FOOTER */

.footer {
    
    &__container {
         margin-bottom: 88px;
         margin-right: 80px;
         margin-left: 80px;
    }

    &__main {
        background-color: #2c343e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 85px;
    }

    &__sidebar {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 236px;
        width: 100%;
        height: 26px;
        object-fit: contain;
    }

    &__navbar {
        margin-left: 103px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__list-item + &__list-item {
        margin-left: 33px;
    }

    &__item-link {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #83888F;
        font-weight: 700;
        font-family: "Barlow";
        letter-spacing: 0.92px;
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__icon-item + &__icon-item{
        margin-left: 24px;
    }

    &__icon-link {
        display: inline-block;
    }

    &__icon-img {
        vertical-align: middle;
    }

    &__link-icon {
        color: #fefcf7;
    }

    &__link-icon:hover {
        color: #FDD6BA;
    }
}

@media only screen and (max-width: 720px) {
    .footer {
    
        &__container {
             margin-bottom: 72px;
             margin-right: 24px;
             margin-left: 24px;
        }
    
        &__main {
            background-color: #2c343e;
            display: block;
            align-items: center;
            padding: 0;
            max-width: 327px;
            width: 100%;
        }
    
        &__sidebar {
            display: block;
            align-items: center;
        }
    
        &__logo {
            max-width: 218px;
            width: 100%;
            height: 22px;
            object-fit: contain;
            text-align: center;
            margin-top: 55px;
            margin-bottom: 50px;
            margin-left: 56px;
        }
    
        &__navbar {
            margin-bottom: 48px;
            margin-left: 0%;
        }
    
        &__list {
            display: block;
            text-align: center;
        }
    
        &__list-item + &__list-item {
            margin-left: 0;
            margin-top: 24px;
        }
    
        &__item-link {
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #83888F;
            font-weight: 700;
            font-family: "Barlow";
            letter-spacing: 0.92px;
        }
    
        &__icon {
            display: flex;
            padding-bottom: 54px;
            margin-left: 103px;
        }
    
        &__icon-item + &__icon-item{
            margin-left: 24px;
        }
    
        &__icon-link {
            display: inline-block;
        }
    
        &__icon-img {
            vertical-align: middle;
        }
    }
}