#offer {
    margin-bottom: 84px;
    margin-left: 545px;
    margin-right: 165px;
}

.offer__heading {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    margin-bottom: 56px;
}

.offer__list-first {
    display: flex;
    margin-bottom: 88px;
}

.offer__list-second {
    display: flex;
    margin-bottom: 88px;
}

.offer__list-third {
    display: flex;
    margin-bottom: 88px;
}

.offer__list-fourth {
    display: flex;
    margin-bottom: 88px;
}

.offer__first-first {
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
    margin-right: 23px;
}

.offer__third-first {
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
    margin-left: 23px;
}

.offer__second-first {
    background-color: #0E8784;
    width: 228px;
    height: 250px;
    border-radius: 8px; 
}

.offer__heading-first {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.offer__paragraph-first {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__heading-second {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.offer__paragraph-second {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__heading-third {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.offer__paragraph-third {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__first-second {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    margin-right: 23px;
    background-color: #0E8784;
}
.offer__heading-fourth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.offer__paragraph-fourth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__second-second {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
}
.offer__heading-fifth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-fifth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__third-second {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    margin-left: 23px;
    background-color: #F4F1EB;
}
.offer__heading-sixth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-sixth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__first-third {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
    margin-right: 23px;
}
.offer__heading-seventh {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-seventh {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}
.offer__second-third {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
}
.offer__heading-eighth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-eighth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}
.offer__third-third {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #0E8784;
    margin-left: 23px;
}
.offer__heading-ninth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.offer__paragraph-ninth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

.offer__first-fourth {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #0E8784;
}

.offer__heading-tenth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.offer__paragraph-tenth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}
.offer__second-fourth {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    margin-left: 23px;
    background-color: #F4F1EB;
}
.offer__heading-eleventh {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-eleventh {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}
.offer__third-fourth {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
    margin-left: 23px;
}
.offer__heading-twelfth {
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 28px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.offer__paragraph-twelfth {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-left: 28px;
    margin-bottom: 84px;
    width: 172px;
    height: 78px;
}

@media only screen and (max-width: 720px) {
    #offer {
        margin-bottom: 120px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .offer__heading {
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #83888F;
        margin-bottom: 56px;
        max-width: 240px;
        width: 100%;
    }
    
    .offer__list-first {
        display: block;
        margin-bottom: 96px;
    }
    
    .offer__list-second {
        display: block;
        margin-bottom: 96px;
    }
    
    .offer__list-third {
        display: block;
        margin-bottom: 96px;
    }
    
    .offer__list-fourth {
        display: block;
        margin-bottom: 96px;
    }
    
    .offer__first-first {
        background-color: #F4F1EB;
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-right: 0;
    }
    
    .offer__third-first {
        background-color: #F4F1EB;
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-left: 0;
        margin-top: -54px;
    }
    
    .offer__second-first {
        background-color: #0E8784;
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px; 
        margin-top: -54px;
    }
    
    .offer__heading-first {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    
    .offer__paragraph-first {
        font-family: Barlow;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__heading-second {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    
    .offer__paragraph-second {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__heading-third {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    
    .offer__paragraph-third {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__first-second {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-right: 0;
        background-color: #0E8784;
    }
    .offer__heading-fourth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .offer__paragraph-fourth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__second-second {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #F4F1EB;
        margin-top: -54px;
    }
    .offer__heading-fifth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-fifth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__third-second {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-left: 0;
        background-color: #F4F1EB;
        margin-top: -54px;
    }
    .offer__heading-sixth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-sixth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__first-third {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #F4F1EB;
        margin-right: 0;
    }
    .offer__heading-seventh {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-seventh {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    .offer__second-third {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #F4F1EB;
        margin-top: -54px;
    }
    .offer__heading-eighth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-eighth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    .offer__third-third {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #0E8784;
        margin-left: 0;
        margin-top: -54px;
    }
    .offer__heading-ninth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .offer__paragraph-ninth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    
    .offer__first-fourth {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #0E8784;
    }
    
    .offer__heading-tenth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .offer__paragraph-tenth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    .offer__second-fourth {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-left: 0;
        background-color: #F4F1EB;
        margin-top: -54px;
    }
    .offer__heading-eleventh {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-eleventh {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
    .offer__third-fourth {
        max-width: 327px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: #F4F1EB;
        margin-left: 0;
        margin-top: -54px;
    }
    .offer__heading-twelfth {
        padding-top: 24px;
        margin-bottom: 8px;
        margin-left: 25px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
    .offer__paragraph-twelfth {
        font-family: "Barlow";
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-left: 25px;
        padding-bottom: 24px;
        width: 278px;
        height: auto;
    }
}